<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

    <form action='/hello' method='get'>
    <input type='text' name='name'>
        <select name='hellos' id='hellos-select'>
            <option value=''>--Please choose an option--</option>
            <option value='french'>French</option>
            <option value='spanish'>Spanish</option>
            <option value='german'>German</option>
            <option value='italian'>Italian</option>
            <!--
            <option value=\"portuguese\">Portuguese</option>
            <option value=\"hindi\">Hindi</option>
            <option value=\"persian-farsi\">Persian (Farsi)</option>
            <option value=\"russian\">Russian</option>
            <option value=\"japanese\">Japanese</option>
            <option value=\"korean\">Korean</option>
            <option value=\"turkish\">Turkish</option>
            <option value=\"mongolian\">Mongolian</option>
            <option value=\"kazakh\">Kazakh</option>
            <option value=\"hungarian\">Hungarian</option>
            <option value=\"arabic\">Arabic</option>
            <option value=\"hausa\">Hausa</option>
            <option value=\"swahili\">Swahili</option>
            <option value=\"mandarin\">Mandarin</option>
            <option value=\"cantonese\">Cantonese</option>
            <option value=\"bahasa-indonesia\">Bahasa Indonesia</option>
            <option value=\"english\">English</option>
            -->
        </select>
        <input type ='submit' value='Greet me!'>
    </form>

</body>
</html>
